<div class="container ">
  <div class="row w-50 mx-auto">
    <div class="col-12 py-5">
      <h1 class="text-center">Contact us</h1>
      <form>
        <div class="form-group">
          <label>Email address</label>
          <input type="email" class="form-control" placeholder="Enter email" ([ngModel])="title">
        </div>
        <div class="form-group">
          <label>Message</label>
          <input type="text" class="form-control" placeholder="Message">
        </div>        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>